header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin-right: 10px;
}

header ul li:last-child{
    margin-right: 0;
}

header ul li button{
    padding: 5px 20px;
    border: none;
    background: aquamarine;
    color: blue;
    cursor: pointer;
}

header ul li button:hover{
    background-color: black;
}

#boxes{
    margin-top: 50px;
}

#boxes .wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    width: 1200px;
    padding: 0 24px;
    /* position: relative; */
}

#boxes .wrapper .box{
    height: 50px;
    width: 150px;
    background-color: violet;
    /* position: absolute; */
}

.box:before{
    content: 'test content';
    width: 70px;
    height: 20px;
    background-color: black;
}

.box::after{
    content: '';
    width: 70px;
    height: 20px;
    background-color: black;
}